*{
    margin: 0;
    font-family: BKoodak ;
    font-size:15px;
}
html, body{
    height: 100%;
}
#wrapper{
    height:93%;
    width:100%;
    display: table;
}
@font-face {
    font-family: BKoodak ;
    src: url("./fonts/BKoodak.eot") format("embedded-opentype"),
    url("./fonts/BKoodak.otf") format("otf"),
    url("./fonts/BKoodak.svg") format("svg"),
    url("./fonts/BKoodak.ttf") format("truetype"),
    url("./fonts/BKoodak.woff") format("woff");
}
.navbar {
    background: #838383;
    direction: rtl;
    position: fixed;
    width: 100%;
    z-index: 1000;  
}
ul.submenu {
    display: none; 
}
ul.menu li i {
    margin-right: 5px; 
}
ul.menu li a {
    text-decoration: none; 
    margin: 5px;
    display:inline-block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    transition: all 0.1s;
}
ul.menu li a:hover {
    background: rgb(83, 83, 83);
    border-radius: .8em;
}
ul.menu li:hover ul.submenu {
    display: block;
    background: #a2a2a2;
    width: 95px;
    padding: 10px;
    border-radius: 0em 0em .8em .8em;
} 
ul.submenu li {
    display: block;
    border-bottom: 1px solid #fff;
}
ul.submenu {
    display: none;
    width: 160px;
    position: absolute;  
    top:55px;
    background: #a2a2a2;
}
ul.submenu li { 
    display: block;
    border-bottom: 1px solid #fff; 
}
ul.submenu li a {
    display: block;
    width: 55px;
}
ul.menu li:hover ul.submenu { 
    display: block;
    background: #a2a2a2;
} 
ul.menu li { 
    list-style: none;
    display: inline-block;
    list-style: none;
    transition: all 0.4s;
    position: relative;
}
#baner{
    height: 93%;
    width: 100%;
    position: absolute;
    z-index: 1;
}
#ti{
    background:linear-gradient( #6AB6FF,#cbe6ff);
    color: rgb(34, 34, 34);
    width: 50%;
    padding: 30px;
    z-index: 100;
    position: sticky;
    margin-top:15%;
    margin-left: 20%;
    margin-bottom: 30px;
    border-radius: .4em;  
    border: 1px solid rgb(161, 161, 161);    
}
#ti:hover{
    background-color: rgb(85, 142, 180);
    transition:all 1s;
    box-shadow: rgb(53, 53, 53) 10px 10px 20px, rgb(53, 53, 53) -10px -10px 20px;
    transform: scale(1.01);
}
#head h1 strong{
    font-size: 30px;
}
#ti span div h4{
    padding-bottom: 10px;
}
hr{
    border:0px;
    border-bottom:1px solid rgb(161, 160, 160);
}
footer{
    width: 100%;
    background-color: rgb(83, 83, 83);
    direction: rtl;
    z-index: 10000; 
    min-height: 7%;
}
footer span a{
    text-decoration: none;
    color: white;
    padding-right: 10px;
    padding-left: 10px; 
}
